<div class="container-fluid">
   <div class="container">
      <div class="main_dashboard">
        <app-admin-header></app-admin-header>
         <div class="row">
            <div class="col-md-2">
               <app-admin-sidebar></app-admin-sidebar>
                      
            </div>
            <div class="col-md-10">
               <div class="right_dashboard">
                  <div class="header_add">
                     <h2><i class="fa fa-cogs" aria-hidden="true"></i>
                       Settings</h2>
                       <h4>Edit Your Profile</h4>
                  </div>
                  <div class="student_form" style="padding: 10px 20px;">
                     <form>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group input-group-lg">
                                 <h5>Name</h5>
                                 <input class="form-control" placeholder="Name" formControlName="name">
                             </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group input-group-lg">
                                 <h5>Email</h5>
                                 <input class="form-control" placeholder="Email" formControlName="email">
                             </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group input-group-lg">
                                 <h5>Title</h5>
                                 <input class="form-control" placeholder="Title" formControlName="title">
                             </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group input-group-lg">
                                 <h5>Technologies</h5>
                                 <input class="form-control" placeholder="Technologies" formControlName="technologies">
                             </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group input-group-lg">
                                 <h5>Contact No.</h5>
                                 <input class="form-control" placeholder="Contact No." formControlName="contact_no">
                             </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>Skills</label>
                                 <select class="form-control" type="text" placeholder="Skills" formControlName="skills">
                                   <option value="mern">MERN</option>
                                   <option value="mean">MEAN</option>
                                   <option value="mern">MERN</option>
                                   <option value="mean">MEAN</option>
                                   <option value="mern">MERN</option>
                                   <option value="mean">MEAN</option>
                                 </select>            
                             </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="form-group input-group-lg">
                              <h5>About</h5>
                             <textarea class="form-control" formControlName="about" placeholder="About Yourself" rows="3" cols="10"></textarea>
                          </div>
                          <div class="form-group">
                           <h5>Select Profile Image</h5>
                           <input type="file">
                       </div>

                       <div class="form-group">
                           <button class="btn btn-success btn-block btn-lg btn-block" style="margin:25px 0px;">Submit</button>
                       </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>