<div class="container-fluid">
   <div class="container">
      <div class="main_dashboard">
         <app-admin-header></app-admin-header>
         <div class="row">
            <div class="col-md-2">
               <app-admin-sidebar></app-admin-sidebar>
            </div>
            <div class="col-md-10">
               <div class="right_dashboard">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-2">
                              <div class="icon_dashboard">
                                 <li><i class="fa fa-tachometer" aria-hidden="true"></i>
                              </div>
                           </div>
                           <div class="col-md-10">
                              <h3 style="padding: 25px 5px;">Admin Dashboard</h3>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6"></div>
                  </div>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="dashboard_box text-center">
                           <h4>Total Students</h4>
                           <h2 style="font-weight:900;">525</h2>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="dashboard_box text-center">
                           <h4>Total Course</h4>
                           <h2 style="font-weight:900;">35</h2>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="dashboard_box text-center">
                           <h4>No. of Quizzes</h4>
                           <h2 style="font-weight:900;">80</h2>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-2">
                              <div class="icon_dashboard">
                                 <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                           </div>
                           <div class="col-md-10">
                              <h3 style="padding: 12px 5px;">Weekly Quiz Rank</h3>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6"></div>
                  </div>
                  <div class="quiz_listing">

                     <div class="list_db">
                        <div class="row">
                           <div class="col-md-1">
                              <p>Rank</p>
                           </div>
                           <div class="col-md-2">
                              <p>Name</p>
                           </div>
                           <div class="col-md-3">
                              <p>Email</p>
                           </div>
                           <div class="col-md-2">
                              <p>Faculty</p>
                           </div>
                           <div class="col-md-2">
                              <p>Address</p>
                           </div>
                           <div class="col-md-2">
                              <p>Qualification</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>1</p>
                        </div>
                        <div class="col-md-2">
                           <p>Sahil Khan</p>
                        </div>
                        <div class="col-md-3">
                           <p>sahil@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Mern Stack</p>
                        </div>
                        <div class="col-md-2">
                           <p>Kolkata</p>
                        </div>
                        <div class="col-md-2">
                           <p>B.Tech</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>2</p>
                        </div>
                        <div class="col-md-2">
                           <p>Saima Rizwi</p>
                        </div>
                        <div class="col-md-3">
                           <p>saima@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Mean Stack</p>
                        </div>
                        <div class="col-md-2">
                           <p>Kolkata</p>
                        </div>
                        <div class="col-md-2">
                           <p>M.Tech</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>3</p>
                        </div>
                        <div class="col-md-2">
                           <p>Ranjan Kumar</p>
                        </div>
                        <div class="col-md-3">
                           <p>ranjan@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Mern Stack</p>
                        </div>
                        <div class="col-md-2">
                           <p>Bokaro</p>
                        </div>
                        <div class="col-md-2">
                           <p>B.Tech</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>4</p>
                        </div>
                        <div class="col-md-2">
                           <p>Zoya Ansari</p>
                        </div>
                        <div class="col-md-3">
                           <p>zoya@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Reactjs</p>
                        </div>
                        <div class="col-md-2">
                           <p>Kolkata</p>
                        </div>
                        <div class="col-md-2">
                           <p>B.sc</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>5</p>
                        </div>
                        <div class="col-md-2">
                           <p>Aafreen Khatun</p>
                        </div>
                        <div class="col-md-3">
                           <p>afreen@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Angular</p>
                        </div>
                        <div class="col-md-2">
                           <p>Ranchi</p>
                        </div>
                        <div class="col-md-2">
                           <p>B.Tech</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>6</p>
                        </div>
                        <div class="col-md-2">
                           <p>Sumit Kumar</p>
                        </div>
                        <div class="col-md-3">
                           <p>sumit@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Php Mysql</p>
                        </div>
                        <div class="col-md-2">
                           <p>Siliguri</p>
                        </div>
                        <div class="col-md-2">
                           <p>BCA</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>7</p>
                        </div>
                        <div class="col-md-2">
                           <p>Priyanka Dutta</p>
                        </div>
                        <div class="col-md-3">
                           <p>Priyanka@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>SEO</p>
                        </div>
                        <div class="col-md-2">
                           <p>Kolkata</p>
                        </div>
                        <div class="col-md-2">
                           <p>BA</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>8</p>
                        </div>
                        <div class="col-md-2">
                           <p>Partho kr. Das</p>
                        </div>
                        <div class="col-md-3">
                           <p>Partho@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Web design</p>
                        </div>
                        <div class="col-md-2">
                           <p>Darjeeling</p>
                        </div>
                        <div class="col-md-2">
                           <p>B.Tech</p>
                        </div>
                     </div>
                  </div>
                  <div class="activity_box">
                           <div class="task_box">
                              <div class="row">
                                 <div class="col-md-2">
                                    <div class="icon_dashboard">
                                       <i class="fa fa-tasks" aria-hidden="true"></i>
                                    </div>
                                 </div>
                                 <div class="col-md-10">
                                    <h3 style="padding: 12px 5px;">Recent Task</h3>
                                 </div>
                              </div>
                              <div class="row" style="background: #f20e0e45;">
                                 <div class="col-md-1">
                                    <p>No.</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Task</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Admin</p>
                                 </div>
                                 <div class="col-md-3">Date</div>
                              </div>
                              <div class="row">
                                 <div class="col-md-1">
                                    <p>1</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Add PHP Course</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Saajid Ahmed</p>
                                 </div>
                                 <div class="col-md-3">12-09-2022</div>
                              </div>
                              <div class="row">
                                 <div class="col-md-1">
                                    <p>2</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Schedule Monthly test</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Simran Kaur</p>
                                 </div>
                                 <div class="col-md-3">13-09-2022</div>
                              </div>
                              <div class="row">
                                 <div class="col-md-1">
                                    <p>3</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Update Question List</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Saarik Ansari</p>
                                 </div>
                                 <div class="col-md-3">13-09-2022</div>
                              </div>
                              <div class="row">
                                 <div class="col-md-1">
                                    <p>4</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Check New Admission</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Sumita kumari</p>
                                 </div>
                                 <div class="col-md-3">14-09-2022</div>
                              </div>
                              <div class="row">
                                 <div class="col-md-1">
                                    <p>5</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Update Php Course</p>
                                 </div>
                                 <div class="col-md-4">
                                    <p>Raashid Khan</p>
                                 </div>
                                 <div class="col-md-3">14-09-2022</div>
                              </div>
                           </div>
                           <div class="message_box">
                              <div class="row">
                                 <div class="col-md-2">
                                    <div class="icon_dashboard">
                                       <i class="fa fa-comments" aria-hidden="true"></i>
                                    </div>
                                 </div>
                                 <div class="col-md-10">
                                    <h3 style="padding: 12px 5px;">Messages</h3>

                                 </div>
                              </div>
                              <div class="message_box1">
                                 <div class="row" style="background: #f20e0e45;">
                                    <div class="col-md-2">
                                       <p>Student</p>
                                    </div>
                                    <div class="col-md-3">
                                       <p>Email</p>
                                    </div>
                                    <div class="col-md-7">
                                       <p>Message</p>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-2">
                                       <p>Saima Khan</p>
                                    </div>
                                    <div class="col-md-3">
                                       <p>salma@gmail.com</p>
                                    </div>
                                    <div class="col-md-7">
                                       <p>Sir,I want to know about php test schedule.</p>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-2">
                                       <p>Zara Khan</p>
                                    </div>
                                    <div class="col-md-3">
                                       <p>khan_zara@gmail.com</p>
                                    </div>
                                    <div class="col-md-7">
                                       <p>I am Zara from kolkata, want to reactjs course detail.</p>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-2">
                                       <p>Aafiya Hussain</p>
                                    </div>
                                    <div class="col-md-3">
                                       <p>aafiya@gmail.com</p>
                                    </div>
                                    <div class="col-md-7">
                                       <p>Last test was superb want to extend test limits.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>