<div class="container-fluid">
    <div class="container">
            <div class="main_dashboard">
               <app-user-header></app-user-header>
            <div class="row">
         <div class="col-md-2">
            <app-student-sidebar></app-student-sidebar>
         </div>
         <div class="col-md-10">
            <div class="right_dashboard">
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-2">
                           <div class="icon_dashboard">
                            <i class="fa fa-list" aria-hidden="true"></i>
                           </div>
                        </div>
                        <div class="col-md-10">
                           <h3 style="padding: 12px 5px;">My Rank</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6"></div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="dashboard_box text-center">
                        <h4>Your Rank</h4>
                        <h2 style="font-weight:900;">27</h2>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="dashboard_box text-center">
                        <h4>Highest Score</h4>
                        <h2 style="font-weight:900;">80</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-2">
                           <div class="icon_dashboard">
                              <i class="fa fa-star" aria-hidden="true"></i>
                           </div>
                        </div>
                        <div class="col-md-10">
                           <h3 style="padding: 12px 5px;">Weekly Quiz Rank</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6"></div>
               </div>
               <div class="quiz_listing">
                  
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>Rank</p>
                        </div>
                        <div class="col-md-2">
                           <p>Name</p>
                        </div>
                        <div class="col-md-3">
                           <p>Email</p>
                        </div>
                        <div class="col-md-2">
                           <p>Faculty</p>
                        </div>
                        <div class="col-md-2">
                           <p>Address</p>
                        </div>
                        <div class="col-md-2">
                           <p>Qualification</p>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>1</p>
                        </div>
                        <div class="col-md-2">
                           <p>Sahil Khan</p>
                        </div>
                        <div class="col-md-3">
                           <p>sahil@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Mern Stack</p>
                        </div>
                        <div class="col-md-2">
                           <p>Kolkata</p>
                        </div>
                        <div class="col-md-2">
                           <p>B.Tech</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>2</p>
                        </div>
                        <div class="col-md-2">
                           <p>Saima Rizwi</p>
                        </div>
                        <div class="col-md-3">
                           <p>saima@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Mean Stack</p>
                        </div>
                        <div class="col-md-2">
                           <p>Kolkata</p>
                        </div>
                        <div class="col-md-2">
                           <p>M.Tech</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>3</p>
                        </div>
                        <div class="col-md-2">
                           <p>Ranjan Kumar</p>
                        </div>
                        <div class="col-md-3">
                           <p>ranjan@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Mern Stack</p>
                        </div>
                        <div class="col-md-2">
                           <p>Bokaro</p>
                        </div>
                        <div class="col-md-2">
                           <p>B.Tech</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>4</p>
                        </div>
                        <div class="col-md-2">
                           <p>Zoya Ansari</p>
                        </div>
                        <div class="col-md-3">
                           <p>zoya@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Reactjs</p>
                        </div>
                        <div class="col-md-2">
                           <p>Kolkata</p>
                        </div>
                        <div class="col-md-2">
                           <p>B.sc</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>5</p>
                        </div>
                        <div class="col-md-2">
                           <p>Aafreen Khatun</p>
                        </div>
                        <div class="col-md-3">
                           <p>afreen@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Angular</p>
                        </div>
                        <div class="col-md-2">
                           <p>Ranchi</p>
                        </div>
                        <div class="col-md-2">
                           <p>B.Tech</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>6</p>
                        </div>
                        <div class="col-md-2">
                           <p>Sumit Kumar</p>
                        </div>
                        <div class="col-md-3">
                           <p>sumit@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Php Mysql</p>
                        </div>
                        <div class="col-md-2">
                           <p>Siliguri</p>
                        </div>
                        <div class="col-md-2">
                           <p>BCA</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>7</p>
                        </div>
                        <div class="col-md-2">
                           <p>Priyanka Dutta</p>
                        </div>
                        <div class="col-md-3">
                           <p>Priyanka@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>SEO</p>
                        </div>
                        <div class="col-md-2">
                           <p>Kolkata</p>
                        </div>
                        <div class="col-md-2">
                           <p>BA</p>
                        </div>
                     </div>
                  </div>
                  <div class="list_db">
                     <div class="row">
                        <div class="col-md-1">
                           <p>8</p>
                        </div>
                        <div class="col-md-2">
                           <p>Partho kr. Das</p>
                        </div>
                        <div class="col-md-3">
                           <p>Partho@gmail.com</p>
                        </div>
                        <div class="col-md-2">
                           <p>Web design</p>
                        </div>
                        <div class="col-md-2">
                           <p>Darjeeling</p>
                        </div>
                        <div class="col-md-2">
                           <p>B.Tech</p>
                        </div>
                     </div>
                  </div>
            </div>
            
         </div>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>