<div class="left_dashboard text-center">
    <ul>
        <a routerLink="/student-dashboard">
       <li><i class="fa fa-tachometer" aria-hidden="true"></i>
          Dashboard</li></a>
          <a routerLink="/student-rank">
       <li><i class="fa fa-list" aria-hidden="true"></i>
          My Rank</li></a>
          <a routerLink="/student-quiz">
       <li><i class="fa fa-archive" aria-hidden="true"></i>
          Quizzes</li></a>
          <a routerLink="/student-course">
       <li><i class="fa fa-user" aria-hidden="true"></i>
          My Profile</li></a>
          <a routerLink="/student-setting">
       <li><i class="fa fa-cogs" aria-hidden="true"></i>
          Setting</li></a>
    </ul>
 </div>