<div class="left_dashboard text-center">
    <ul>
       <a routerLink="/admin-dashboard">
          <li><i class="fa fa-tachometer" aria-hidden="true"></i>
             Dashboard</li>
       </a>
       <a routerLink="/admin-add-student">
          <li><i class="fa fa-user-plus" aria-hidden="true"></i>
             Add Student</li>
       </a>
       <a routerLink="/admin-add-qn">
          <li><i class="fa fa-paperclip" aria-hidden="true"></i>
             Add Question</li>
       </a>
       <a routerLink="/admin-category">
          <li><i class="fa fa-paperclip" aria-hidden="true"></i>
             Add Category</li>
       </a>
       <a routerLink="/admin-block">
          <li><i class="fa fa-unlock-alt" aria-hidden="true"></i>
             Block/Unblock</li>
       </a>
       <a routerLink="/admin-profile">
          <li><i class="fa fa-user" aria-hidden="true"></i>
             Profile</li>
       </a>
       <a routerLink="/admin-manage">
          <li><i class="fa fa-sliders" aria-hidden="true"></i>
             Manage</li>
       </a>
       <a routerLink="/admin-setting">
          <li><i class="fa fa-cogs" aria-hidden="true"></i>
             Settings</li>
       </a>
    </ul>
 </div>