<div class="container">
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 style= "font-weight: 700; margin-top: 50px;">Sign In</h3>
    <h5 style= "color: #fff;">As Student</h5>
            <div class="admin_home">
                
                <form [formGroup]="complexForm" (ngSubmit)="postdata(complexForm)" autocomplete="off">
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email" name="email" formControlName="email" autocomplete="off">
                            <div *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched" class="alert alert-danger">Please enter your valid email.</div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" formControlName="password"
                        autocomplete="off">
                        <div *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched" class="alert alert-danger">Please enter your password.</div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin: 20px 0px;">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>