<div class="container-fluid">
    <div class="container">
            <div class="main_dashboard">
               <app-user-header></app-user-header>
            <div class="row">
         <div class="col-md-2">
            <app-student-sidebar></app-student-sidebar>
         </div>
         <div class="col-md-10">
            <div class="right_dashboard">
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-2">
                           <div class="icon_dashboard">
                            <i class="fa fa-archive" aria-hidden="true"></i>
                           </div>
                        </div>
                        <div class="col-md-10">
                           <h3 style="padding: 12px 5px;">My Quiz</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6"></div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="dashboard_box text-center">
                        <h2>Angular</h2>
                        <h4>10 Sets</h4>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="dashboard_box text-center">
                        <h2>Reactjs</h2>
                        <h4>10 Sets</h4>
                     </div>
                  </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                   <div class="dashboard_box text-center">
                      <h2>MongoDB</h2>
                      <h4>10 Sets</h4>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="dashboard_box text-center">
                      <h2>PHP</h2>
                      <h4>5 Sets</h4>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6">
                   <div class="dashboard_box text-center">
                      <h2>Express JS</h2>
                      <h4>5 Sets</h4>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="dashboard_box text-center">
                      <h2>MYSQL</h2>
                      <h4>5 Sets</h4>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6">
                   <div class="dashboard_box text-center">
                      <h2>Node JS</h2>
                      <h4>10 Sets</h4>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="dashboard_box text-center">
                      <h2>HTML5</h2>
                      <h4>20 Sets</h4>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6">
                   <div class="dashboard_box text-center">
                      <h2>CSS3</h2>
                      <h4>10 Sets</h4>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="dashboard_box text-center">
                      <h2>Jquery</h2>
                      <h4>10 Sets</h4>
                   </div>
                </div>
             </div>
            </div>
            
         </div>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>